:root {
  /*Fluid headings**/
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  /*Farver*/

  --primary: #55c000;
  --primary-nav: #56c000a6;
  --knapper: rgb(34, 199, 171);
  --background: #f2f6ee;
  --box-color: #e7f3de;
  --accent: #7a9460;
  --font: #183500;
  --btn-danger-font: #b70000;
  --btn-danger: #ffd9d9;
  --btn-warning: #ffc700;
  --white: #fff;

  /*Border-radius*/
  --border-rounded: 0.5rem;
  --border-round-full: 999px;

  /* Border-width */
  --border-width-primary: 3px;
  --border-width-seconday: 6px;

  /*Box-shadow*/
  --shadow-sm: 8px 8px 30px black;
  --shadow-md: 16px 16px 30px black;
  --shadow-lg: 32px 32px 30px black;

  /*Spacing*/
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-4: 2rem;
  --spacing-8: 4rem;
  --spacing-16: 8rem;
  --spacing-32: 16rem;
  --spacing-36: 19rem;
  --spacing-64: 32rem;

  /*Mobil*/
  /*Headings*/
  --heading-one-m: 2.488rem;
  --heading-two-m: 2.074rem;
  --heading-three-m: 1.728rem;
  --heading-four-m: 1.44rem;
  --heading-five-m: 1.2rem;
  --heading-six-m: 1rem;
  --heading-seven-m: 0.833rem;
  /*Paragraphs*/
  --p-lead-m: 1.44rem;
  --paragraf-m: 1rem;
  --p-small-m: 0.833rem;
  /*Line heights*/
  --heading-one-m-lh: 120%;
  --heading-two-m-lh: 120%;
  --heading-three-m-lh: 1.9rem;
  --p-lead-m-lh: 1.6rem;
  --paragraf-m-lh: 1.4rem;
  --p-small-seven-m-lh: 1rem;

  /*Desktop*/
  /*Headings*/
  --heading-one: 5.653rem;
  --heading-two: 3.998rem;
  --heading-three: 2.827rem;
  --heading-four: 1.999rem;
  --heading-five: 1.414rem;
  --heading-six: 1rem;
  --heading-seven: 0.9rem;
  /*Paragraphs*/
  --p-lead: 1.414rem;
  --paragraf: 1rem;
  --p-small: 0.9rem;
  /*Line heights*/
  --heading-one-lh: 6rem;
  --heading-two-lh: 4.5rem;
  --heading-three-lh: 3.1rem;
  --p-lead-lh: 2.2rem;
  --paragraf-lh: 1.4rem;
  --p-small-seven-lh: 1.1rem;
}

img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "heebo";
  src: url(fonts/heebo-variablefont_wght-webfont.woff);
}

body {
  color: var(--font);
  background-color: var(--background);
  font-family: "heebo", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

/************Mobil headings******************/

h1 {
  font-size: var(--font-size-xxl);
  line-height: 120%;
  font-weight: 900;
}
h2 {
  font-size: var(--font-size-xl);
  line-height: 120%;
  font-weight: 700;
}
h3 {
  font-size: var(--font-size-lg);
  line-height: 120%;
  font-weight: 700;
}
h4 {
  font-size: var(--font-size-md);
  line-height: 120%;
  font-weight: 700;
}

p {
  font-size: var(--font-size-base);
  margin: var(--spacing-2) 0;
  line-height: 110%;
}

.p-lead {
  font-size: var(--font-size-md);
  line-height: var(--p-lead-m-lh);
  font-weight: 700;
  line-height: 110%;
  margin-bottom: var(--spacing-4);
}

.p-lead-white {
  font-size: var(--font-size-md);
  line-height: var(--p-lead-m-lh);
  font-weight: 700;
  line-height: 110%;
  margin-bottom: var(--spacing-4);
  color: var(--background);
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    margin: 0 auto;
    max-width: none;
  }

  .center-content {
    grid-column-start: 2;
    margin-top: var(--spacing-16);
  }
  .right-content {
    grid-column-start: 3;
  }
}
